image-4-icon {
    height: 757px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-child,
  .image-4-parent {
    margin: 0 !important;
    position: absolute;
  }
  .frame-child {
    height: 119px;
    width: 1154px;
    bottom: 131px;
    left: 96px;
    z-index: 1;
  }
  .image-4-parent {
    width: 1440px;
    height: 757px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .find-jobs {
    white-space: nowrap;
  }
  .find-jobs,
  .news {
    height: 64px;
    flex: 1;
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .find-jobs-parent,
  .frame-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .find-jobs-parent {
    align-self: stretch;
    flex-direction: row;
  }
  .frame-wrapper {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-item {
    height: 64px;
    width: 226px;
    position: relative;
    border-radius: var(--br-10xl);
    display: none;
  }
  .login {
    height: 51px;
    flex: 1;
    position: relative;
    font-size: var(--font-size-11xl);
    display: inline-block;
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: center;
    z-index: 2;
  }
  .frame-parent,
  .homepage-inner,
  .vector-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .vector-parent {
    cursor: pointer;
    border: 0;
    padding: var(--padding-smi) var(--padding-9xs) 0;
    background-color: var(--color-khaki-100);
    width: 226px;
    border-radius: var(--br-10xl);
    justify-content: flex-start;
    box-sizing: border-box;
    z-index: 1;
  }
  .vector-parent:hover {
    background-color: #e6c466;
  }
  .frame-parent,
  .homepage-inner {
    max-width: 100%;
  }
  .frame-parent {
    flex: 1;
    justify-content: flex-start;
    gap: 35px;
  }
  .homepage-inner {
    width: 737px;
    justify-content: flex-end;
    padding: 0 77px var(--padding-37xl);
    box-sizing: border-box;
  }
  .explore-open-career,
  .opportunities {
    margin: 0;
  }
  .explore-open-career-container,
  .we-commit-to {
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .explore-open-career-container {
    margin: 0;
    align-self: stretch;
    height: 107px;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    flex-shrink: 0;
  }
  .we-commit-to {
    height: 32px;
  }
  .we-commit-to-exceptional-comap-wrapper {
    flex-direction: row;
    padding: 0 var(--padding-9xs);
    box-sizing: border-box;
    font-size: var(--font-size-xl);
  }
  .explore-open-career-opportunit-parent,
  .frame-container,
  .we-commit-to-exceptional-comap-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .explore-open-career-opportunit-parent {
    flex: 1;
    flex-direction: column;
    gap: 50px;
  }
  .frame-container {
    width: 852px;
    flex-direction: row;
    padding: 0 var(--padding-6xs);
    box-sizing: border-box;
  }
  .find-the-job {
    height: 81px;
    width: 769px;
    position: relative;
    font-size: var(--font-size-21xl);
    display: inline-block;
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 2;
  }
  .frame-inner,
  .search {
    position: absolute;
    left: 0;
  }
  .frame-inner {
    top: 0;
    border-radius: 19px;
    background-color: var(--color-deepskyblue);
    width: 210px;
    height: 60px;
    z-index: 2;
  }
  .search {
    top: 5px;
    font-size: var(--font-size-21xl);
    display: inline-block;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: center;
    width: 221px;
    height: 69px;
    z-index: 3;
  }
  .rectangle-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 74px;
    width: 221px;
    position: relative;
  }
  .find-the-job-that-best-suits-y-parent,
  .frame-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .find-the-job-that-best-suits-y-parent {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-div {
    width: 1138px;
    justify-content: flex-end;
    padding: 0 var(--padding-6xs);
    box-sizing: border-box;
  }
  .rectangle-div {
    height: 65px;
    width: 545px;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--color-khaki-100);
    display: none;
    max-width: 100%;
  }
  .discover-recent-news {
    height: 42px;
    position: relative;
    font-size: var(--font-size-6xl);
    font-family: var(--font-inter);
    color: var(--color-black);
    white-space: pre-wrap;
    text-align: left;
    display: inline-block;
    z-index: 2;
  }
  .frame-child1,
  .rectangle-group {
    border-radius: var(--br-3xs);
    background-color: var(--color-khaki-100);
    max-width: 100%;
  }
  .rectangle-group {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px 37px var(--padding-6xs);
    box-sizing: border-box;
    min-width: 354px;
    z-index: 1;
  }
  .frame-child1 {
    height: 65px;
    width: 530px;
    position: relative;
    display: none;
  }
  .know-our-process {
    height: 42px;
    position: relative;
    font-size: var(--font-size-6xl);
    font-family: var(--font-inter);
    color: var(--color-black);
    white-space: pre-wrap;
    text-align: left;
    display: inline-block;
    z-index: 2;
  }
  .frame-form,
  .frame-parent1,
  .rectangle-container {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .rectangle-container {
    border-radius: var(--br-3xs);
    background-color: var(--color-khaki-100);
    flex-direction: row;
    align-items: flex-start;
    padding: 19px 42px var(--padding-9xs);
    box-sizing: border-box;
    z-index: 1;
  }
  .frame-form,
  .frame-parent1 {
    align-self: stretch;
  }
  .frame-parent1 {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 79px;
  }
  .frame-form {
    margin: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 42px;
  }
  .frame-group,
  .homepage-child {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-group {
    width: 1154px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 78px;
  }
  .homepage-child {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 114px var(--padding-12xl) var(--padding-xl);
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-31xl);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .explore-more-,
  .latest-features-jobs {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    debug_commit: f6aba90;
  }
  .latest-features-jobs {
    margin: 0;
    height: 76px;
    width: 708px;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  .explore-more- {
    align-self: stretch;
    height: 59px;
  }
  .explore-more-wrapper,
  .latest-features-jobs-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .explore-more-wrapper {
    width: 583px;
    flex-direction: column;
    padding: var(--padding-12xl) 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-11xl);
  }
  .latest-features-jobs-parent {
    align-self: stretch;
    flex-direction: row;
    gap: 396px;
  }
  .rectangle-icon {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-10xs);
    width: 423px;
    height: 365px;
    display: none;
  }
  .frame-child2 {
    align-self: stretch;
    height: 120px;
    position: relative;
    border-radius: var(--br-xl);
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .customer-services1,
  .customer-services2 {
    white-space: pre-wrap;
  }
  .customer-services {
    margin: 0;
  }
  .b {
    white-space: pre-wrap;
  }
  .sales-services {
    font-weight: 200;
  }
  .sales-services,
  .sales-services-support1 {
    white-space: pre-wrap;
  }
  .sales-services-support {
    margin: 0;
    font-size: var(--font-size-xl);
  }
  .b1,
  .span {
    white-space: pre-wrap;
  }
  .p {
    margin: 0;
  }
  .blank-line1,
  .blank-line2 {
    white-space: pre-wrap;
  }
  .blank-line {
    margin: 0;
  }
  .customer-services-sales-container {
    align-self: stretch;
    height: 194px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .customer-services4,
  .customer-services5 {
    white-space: pre-wrap;
  }
  .customer-services3 {
    margin: 0;
  }
  .b2 {
    white-space: pre-wrap;
  }
  .sales-services1 {
    font-weight: 200;
  }
  .sales-services-support3,
  .sales-services1 {
    white-space: pre-wrap;
  }
  .sales-services-support2 {
    margin: 0;
    font-size: var(--font-size-xl);
  }
  .b3,
  .span1 {
    white-space: pre-wrap;
  }
  .p1 {
    margin: 0;
  }
  .blank-line4,
  .blank-line5 {
    white-space: pre-wrap;
  }
  .blank-line3 {
    margin: 0;
  }
  .customer-services-sales-container1 {
    align-self: stretch;
    height: 194px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 2;
    margin-top: -194px;
  }
  .customer-services-sales-serv-parent,
  .vector-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .customer-services-sales-serv-parent {
    align-self: stretch;
  }
  .vector-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    gap: 17px;
    max-width: 100%;
  }
  .apply-now,
  .frame-child3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 46px;
    z-index: 3;
  }
  .apply-now {
    top: 5px;
    left: 71px;
    font-size: var(--font-size-11xl);
    display: inline-block;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    width: 229px;
    z-index: 4;
  }
  .frame-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 297px;
    left: 59px;
    width: 300px;
    height: 51px;
  }
  .mapsplace-24px-icon {
    position: absolute;
    top: 214px;
    left: 65px;
    width: 16px;
    height: 27px;
    overflow: hidden;
    object-fit: cover;
    z-index: 3;
  }
  .vector-group {
    align-self: stretch;
    height: 365px;
    position: relative;
    border-radius: var(--br-10xs);
    background-color: var(--color-white);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
  }
  .frame-wrapper1 {
    flex: 0.9506;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-3xl) 0 0;
    box-sizing: border-box;
    min-width: 289px;
    max-width: 100%;
  }
  .full-stack-developer1,
  .full-stack-developer2 {
    white-space: pre-wrap;
  }
  .full-stack-developer {
    margin: 0;
  }
  .b4 {
    white-space: pre-wrap;
  }
  .engineering {
    font-weight: 200;
    font-family: var(--font-inter);
  }
  .engineering,
  .engineering-tech1 {
    white-space: pre-wrap;
  }
  .engineering-tech {
    margin: 0;
    font-size: var(--font-size-xl);
  }
  .b5,
  .span2 {
    white-space: pre-wrap;
  }
  .p2 {
    margin: 0;
  }
  .blank-line7,
  .blank-line8 {
    white-space: pre-wrap;
  }
  .blank-line6 {
    margin: 0;
  }
  .full-stack-developer-engineeri-container {
    position: absolute;
    top: 141px;
    left: 14px;
    display: inline-block;
    width: 423px;
    height: 194px;
    z-index: 1;
  }
  .apply-now1,
  .frame-child4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 46px;
    z-index: 2;
  }
  .apply-now1 {
    top: 5px;
    left: 71px;
    font-size: var(--font-size-11xl);
    display: inline-block;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    width: 229px;
    z-index: 3;
  }
  .vector-parent1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 301px;
    left: 62px;
    width: 300px;
    height: 51px;
  }
  .figma-project {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-10xs);
    background-color: var(--color-white);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
  }
  .design-structure,
  .image-5-icon {
    position: absolute;
    left: 0;
    width: 423px;
  }
  .image-5-icon {
    top: 4px;
    border-radius: var(--br-xl);
    height: 115px;
    object-fit: cover;
    z-index: 1;
  }
  .design-structure {
    height: 100%;
    top: 0;
    bottom: 0;
  }
  .mapsplace-24px-icon1 {
    position: absolute;
    top: 218px;
    left: 66px;
    width: 16px;
    height: 27px;
    overflow: hidden;
    object-fit: cover;
    z-index: 2;
  }
  .full-stack-developer-engineeri-parent {
    height: 365px;
    flex: 1;
    position: relative;
    min-width: 284px;
    max-width: 100%;
  }
  .frame-child5 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-10xs);
    width: 423px;
    height: 365px;
    display: none;
  }
  .apply-now2,
  .job-ad-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 46px;
    z-index: 2;
  }
  .apply-now2 {
    top: 5px;
    left: 69px;
    font-size: var(--font-size-11xl);
    display: inline-block;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    width: 229px;
    z-index: 3;
  }
  .job-ad {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 301px;
    left: 62px;
    width: 300px;
    height: 51px;
  }
  .image-6-icon {
    align-self: stretch;
    height: 115px;
    position: relative;
    border-radius: var(--br-xl);
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
  }
  .hr-director1,
  .hr-director2 {
    white-space: pre-wrap;
  }
  .hr-director {
    margin: 0;
  }
  .b6 {
    white-space: pre-wrap;
  }
  .people2 {
    font-weight: 200;
    font-family: var(--font-inter);
  }
  .people1,
  .people2 {
    white-space: pre-wrap;
  }
  .people {
    margin: 0;
    font-size: var(--font-size-xl);
  }
  .b7,
  .span3 {
    white-space: pre-wrap;
  }
  .p3 {
    margin: 0;
  }
  .blank-line10,
  .blank-line11 {
    white-space: pre-wrap;
  }
  .blank-line9 {
    margin: 0;
  }
  .hr-director-people-container {
    align-self: stretch;
    height: 194px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .testimonial-card {
    position: absolute;
    top: 4px;
    left: 0;
    width: 423px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 22px;
    max-width: 100%;
  }
  .mapsplace-24px-icon2 {
    position: absolute;
    top: 217px;
    left: 62px;
    width: 16px;
    height: 27px;
    overflow: hidden;
    object-fit: cover;
    z-index: 2;
  }
  .vector-parent2 {
    height: 365px;
    width: 423px;
    position: relative;
    border-radius: var(--br-10xs);
    background-color: var(--color-white);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
  }
  .frame-parent2,
  .map-component {
    width: 1377px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: 26px;
    max-width: 100%;
    font-size: var(--font-size-11xl);
  }
  .map-component {
    width: 1423px;
    flex-direction: column;
    padding: 0 0 73px var(--padding-xl);
    gap: 3px;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-31xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .image-7-icon {
    height: 519px;
    width: 1470px;
    position: absolute;
    margin: 0 !important;
    right: -337px;
    bottom: -313px;
    object-fit: cover;
  }
  .were-more-than,
  .workplacewere-a-family {
    margin: 0;
  }
  .were-more-than-container {
    margin: 0;
    height: 107px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .frame-section,
  .image-7-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .image-7-parent {
    width: 838px;
    justify-content: flex-start;
    position: relative;
  }
  .frame-section {
    align-self: stretch;
    justify-content: center;
    padding: 0 32px var(--padding-37xl) var(--padding-xl);
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: center;
    font-size: var(--font-size-31xl);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .engineering-team-card {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-deepskyblue);
    width: 378px;
    height: 91px;
    z-index: 1;
  }
  .join-us {
    position: absolute;
    top: 21px;
    left: 1px;
    display: inline-block;
    width: 363px;
    height: 79px;
    z-index: 2;
  }
  .team-logo {
    height: 100px;
    width: 378px;
    position: relative;
    max-width: 100%;
  }
  .team-logo-wrapper {
    width: 1356px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .find-your-team,
  .news-icon {
    position: relative;
    max-width: 100%;
  }
  .find-your-team {
    margin: 0;
    width: 708px;
    height: 76px;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
  }
  .news-icon {
    align-self: stretch;
    flex: 1;
    border-radius: 30px;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .recent-news-card {
    height: 582px;
    width: 451px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 30px;
    box-sizing: border-box;
    min-width: 451px;
    max-width: 100%;
  }
  .engineering-tech2 {
    margin: 0;
    color: var(--color-deepskyblue);
  }
  .blank-line12 {
    margin: 0;
    font-size: var(--font-size-31xl);
  }
  .helooooonjekdawsexdcrfvgbhnjmk {
    margin: 0;
    font-weight: 300;
    color: var(--color-black);
  }
  .blank-line13 {
    margin: 0;
    font-size: var(--font-size-31xl);
  }
  .engineering-tech-container {
    height: 270px;
    flex: 1;
    position: relative;
    display: inline-block;
    min-width: 245px;
    max-width: 100%;
  }
  .engineering-tech3 {
    margin: 0;
    color: var(--color-deepskyblue);
  }
  .blank-line14 {
    margin: 0;
    font-size: var(--font-size-31xl);
  }
  .helooooonjekdawsexdcrfvgbhnjmk1 {
    margin: 0;
    font-weight: 300;
    color: var(--color-black);
  }
  .blank-line15 {
    margin: 0;
    font-size: var(--font-size-31xl);
  }
  .engineering-tech-container1 {
    height: 270px;
    flex: 1;
    position: relative;
    display: inline-block;
    min-width: 245px;
    max-width: 100%;
  }
  .engineering-tech-helooooonje-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    max-width: 100%;
  }
  .engineering-tech4 {
    margin: 0;
    color: var(--color-deepskyblue);
  }
  .blank-line16 {
    margin: 0;
    font-size: var(--font-size-31xl);
  }
  .helooooonjekdawsexdcrfvgbhnjmk2 {
    margin: 0;
    font-weight: 300;
    color: var(--color-black);
  }
  .blank-line17 {
    margin: 0;
    font-size: var(--font-size-31xl);
  }
  .engineering-tech-container2 {
    height: 270px;
    flex: 1;
    position: relative;
    display: inline-block;
    min-width: 245px;
    max-width: 100%;
  }
  .engineering-tech5 {
    margin: 0;
    color: var(--color-deepskyblue);
  }
  .blank-line18 {
    margin: 0;
    font-size: var(--font-size-31xl);
  }
  .helooooonjekdawsexdcrfvgbhnjmk3 {
    margin: 0;
    font-weight: 300;
    color: var(--color-black);
  }
  .blank-line19 {
    margin: 0;
    font-size: var(--font-size-31xl);
  }
  .engineering-tech-container3 {
    height: 270px;
    flex: 1;
    position: relative;
    display: inline-block;
    min-width: 245px;
    max-width: 100%;
  }
  .engineering-tech-helooooonje-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    max-width: 100%;
  }
  .explore-more-button,
  .recent-news-card-parent {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 100%;
  }
  .explore-more-button {
    flex: 1;
    flex-direction: column;
    gap: 92px;
    min-width: 511px;
  }
  .recent-news-card-parent {
    align-self: stretch;
    flex-direction: row;
    gap: 86px;
    font-size: var(--font-size-11xl);
    color: var(--color-white);
  }
  .contact-us-button,
  .contact-us-button-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .contact-us-button {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 21px;
  }
  .contact-us-button-wrapper {
    width: 1415px;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 46px 45px;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-31xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .homepage,
  .homepage-item {
    position: relative;
    overflow: hidden;
  }
  .homepage-item {
    align-self: stretch;
    max-width: 100%;
    max-height: 100%;
  }
  .homepage {
    width: 100%;
    height: 2897px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-3xl) 0 159px;
    box-sizing: border-box;
    gap: 114px;
    letter-spacing: normal;
    text-align: center;
    font-size: var(--font-size-11xl);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 1400px) {
    .homepage-child {
      padding-right: 57px;
      box-sizing: border-box;
    }
    .latest-features-jobs-parent {
      flex-wrap: wrap;
      gap: 396px 198px;
      justify-content: center;
    }
    .contact-us-button-wrapper {
      padding-left: var(--padding-4xl);
      padding-right: var(--padding-4xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1125px) {
    .find-the-job-that-best-suits-y-parent {
      flex-wrap: wrap;
    }
    .frame-parent1 {
      gap: 39px;
    }
    .frame-group {
      gap: 39px 78px;
    }
    .frame-wrapper1,
    .full-stack-developer-engineeri-parent {
      flex: 1;
    }
    .frame-parent2 {
      flex-wrap: wrap;
    }
    .news-icon {
      align-self: stretch;
      width: auto;
    }
    .recent-news-card {
      flex: 1;
    }
    .recent-news-card-parent {
      flex-wrap: wrap;
    }
    .homepage {
      height: auto;
    }
  }
  @media screen and (max-width: 825px) {
    .find-jobs-parent {
      display: none;
    }
    .frame-parent {
      gap: 35px 17px;
    }
    .homepage-inner {
      padding-left: var(--padding-19xl);
      padding-right: var(--padding-19xl);
      box-sizing: border-box;
    }
    .explore-open-career-container {
      font-size: var(--font-size-21xl);
    }
    .find-the-job,
    .search {
      font-size: var(--font-size-13xl);
    }
    .rectangle-group {
      min-width: 100%;
    }
    .rectangle-container {
      padding-left: var(--padding-2xl);
      padding-right: var(--padding-2xl);
      box-sizing: border-box;
    }
    .frame-parent1 {
      gap: var(--gap-xl);
    }
    .frame-form {
      gap: 21px 42px;
    }
    .frame-group {
      gap: 19px 78px;
    }
    .homepage-child {
      padding-right: 28px;
      box-sizing: border-box;
    }
    .latest-features-jobs {
      font-size: var(--font-size-21xl);
    }
    .explore-more- {
      font-size: var(--font-size-5xl);
    }
    .latest-features-jobs-parent {
      gap: 396px 99px;
    }
    .apply-now,
    .apply-now1,
    .apply-now2 {
      font-size: var(--font-size-5xl);
    }
    .map-component {
      padding-bottom: 47px;
      box-sizing: border-box;
    }
    .were-more-than-container {
      font-size: var(--font-size-21xl);
    }
    .join-us {
      font-size: var(--font-size-13xl);
    }
    .find-your-team {
      font-size: var(--font-size-21xl);
    }
    .recent-news-card {
      min-width: 100%;
    }
    .engineering-tech-container,
    .engineering-tech-container1 {
      font-size: var(--font-size-5xl);
    }
    .engineering-tech-helooooonje-parent {
      flex-wrap: wrap;
    }
    .engineering-tech-container2,
    .engineering-tech-container3 {
      font-size: var(--font-size-5xl);
    }
    .engineering-tech-helooooonje-group {
      flex-wrap: wrap;
    }
    .explore-more-button {
      gap: 46px 92px;
      min-width: 100%;
    }
    .recent-news-card-parent {
      gap: 86px 43px;
    }
    .contact-us-button-wrapper {
      padding-bottom: 29px;
      box-sizing: border-box;
    }
    .homepage {
      gap: 57px 114px;
    }
  }
  @media screen and (max-width: 450px) {
    .explore-open-career-container {
      font-size: var(--font-size-11xl);
    }
    .we-commit-to {
      font-size: var(--font-size-base);
    }
    .explore-open-career-opportunit-parent {
      gap: 25px 50px;
    }
    .find-the-job,
    .search {
      font-size: var(--font-size-5xl);
    }
    .discover-recent-news,
    .know-our-process {
      font-size: var(--font-size-xl);
    }
    .latest-features-jobs {
      font-size: var(--font-size-11xl);
    }
    .explore-more- {
      font-size: var(--font-size-lg);
    }
    .latest-features-jobs-parent {
      gap: 396px 49px;
    }
    .customer-services-sales-container,
    .customer-services-sales-container1 {
      font-size: var(--font-size-base);
    }
    .apply-now {
      font-size: var(--font-size-lg);
    }
    .full-stack-developer-engineeri-container {
      font-size: var(--font-size-base);
    }
    .apply-now1,
    .apply-now2 {
      font-size: var(--font-size-lg);
    }
    .hr-director-people-container {
      font-size: var(--font-size-base);
    }
    .were-more-than-container {
      font-size: var(--font-size-11xl);
    }
    .join-us {
      font-size: var(--font-size-5xl);
    }
    .find-your-team {
      font-size: var(--font-size-11xl);
    }
    .engineering-tech-container,
    .engineering-tech-container1 {
      font-size: var(--font-size-lg);
    }
    .engineering-tech-helooooonje-parent {
      gap: 32px 16px;
    }
    .engineering-tech-container2,
    .engineering-tech-container3 {
      font-size: var(--font-size-lg);
    }
    .explore-more-button {
      gap: 23px 92px;
    }
    .recent-news-card-parent {
      gap: 86px 21px;
    }
    .contact-us-button-wrapper {
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .homepage {
      gap: 28px 114px;
    }
  }
  
  
  